@use "../global/config" as *;

body {
  background-color: var(--clr-neutral100);
  color: $clr-text;
  font-family: $ff;
  font-weight: $semi-bold;
  font-size: 16px;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  text-align: initial;
  -webkit-tap-highlight-color: transparent;
}

p {
  opacity: 0.8;
  font-size: 14px;
}
