@use "../global/config" as *;
@use "../global/class" as *;

:root {
  --border-radius: 16px;
}

main {
  font-size: 14px;
  background-color: var(--clr-primary);
  min-height: 100vh;
  display: grid;
  place-items: center;

  .container {
    background-color: $clr-bg;
    padding: 1.4rem;
    border-radius: var(--border-radius);
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
      rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;

    > picture img {
      --boder-radius: 10px;
      border-radius: var(--border-radius);
    }
  }

  button {
    --border-radius: 6px;
    background-color: var(--clr-primary);
    font-size: 13px;
    font-weight: $extra-bold;
    padding: 0.3rem 0.8rem;
    border-radius: var(--border-radius);
    margin: 1.5rem 0 0.8rem 0;
  }

  section > :nth-child(2) {
    font-size: 12px;
    color: var(--clr-neutral200);
  }

  h1 {
    margin: 1rem 0;
    font-size: 20px;
  }

  p {
    margin-bottom: 1.5rem;
    color: var(--clr-neutral200);
  }

  .flex {
    display: flex;
    align-items: center;
    font-weight: $extra-bold;
    gap: 0.5rem;

    img {
      width: 30px;
    }
  }
}
