@use "../global/config" as *;
@use "../global/class" as *;

:root {
  --border-radius: 16px;
}

main {
  font-size: 16px;
  background-color: var(--clr-primary);
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 2rem 0;

  .container {
    background-color: $clr-bg;
    padding: 1.4rem;
    border-radius: var(--border-radius);
    min-height: 515px;
    box-shadow: 10px 10px $clr-text;

    > picture img {
      --border-radius: 10px;
      border-radius: var(--border-radius);
    }
  }

  button {
    --border-radius: 6px;
    background-color: var(--clr-primary);
    font-size: clamp(0.8125rem, 0.7679rem + 0.119vw, 0.875rem);
    font-weight: $extra-bold;
    padding: 0.3rem 0.8rem;
    border-radius: var(--border-radius);
    margin: 1.6rem 0 1rem 0;
  }

  section > :nth-child(2) {
    font-size: clamp(0.75rem, 0.6607rem + 0.2381vw, 0.875rem);
    color: var(--clr-neutral200);
  }

  h1 {
    margin: 1.3rem 0 1.3rem 0;
    font-size: 24px;
  }

  p {
    margin-bottom: 1.7rem;
    color: var(--clr-neutral200);
    line-height: 1.4;
    font-size: 0.9em;
  }

  .flex {
    display: flex;
    align-items: center;
    font-weight: $extra-bold;
    gap: 0.5rem;

    img {
      width: 36px;
    }
  }
}

@media (min-width: 600px) {
  main {
    font-size: 18px;
    p {
      width: 96%;
    }
  }
}
